
#controls {
  position: fixed;
  top: 1em;
  right: 0;
  width: fit-content;
  height: fit-content;
  z-index: 99;
  font-family: 'Courier New', Courier, monospace;
}

.btn {
  position: static;
  margin-top: 1em;
  padding: 1em;
  color: #fff;
  background-color: #FF5909;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}